allow hal_fingerprint_default default_prop:file { read };
allow hal_fingerprint_default sysfs_leds:dir { search };
allow hal_fingerprint_default sysfs_rtc:dir { search };
allow hal_fingerprint_default vendor_sysfs_fingerprint:dir { search };
